<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('title', { title: title }) %>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <p class="newMessage">Add message <a href="/new">here</a></p>

      <%- include('message', { messages: messages}) %>
    </main>
  </body>
</html>
